body {
    margin: 0;
    font-family: 'Muli', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
}

#root {
    margin: 5%;
}

h1 {
    margin: 30px 0;
}

#optionsBar {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
    body {
        width: 800px;
    }
}

table {
    margin: 5% 0;

    tbody tr:nth-child(odd) {
        background-color: #dddddd;
    }

    td {
        padding: 20px 0;
        width: 14.2%;
        text-align: center;
    }

    .td-2 {
        width: 10%;
        text-align: center;
        padding: 0 10px;
        font-weight: bold;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    input, textarea {
        width: 100%;
        padding: 5%;
    }

    input:focus, textarea:focus {
        border-color: #5252e0;
    }

    button {
        margin: 10px;
    }
}